@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0;
}

header {
    display: flex;
    padding: 1px;
}

select {
    width: 300px;
    height: 29px;
}

.search {
    border: 1px solid black;
    border-radius: 50px;
    color: white;
    background: transparent;
    font-size: 20px;
    padding: 1px;
}

.container_movies__page{
    display: flex;
    flex-wrap: wrap;
}

.movies_main {
    width: 250px;
    margin: 10px;
    background-color: cornflowerblue;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

img {
    width: 100%;
}

.movies_page__main___info h3{
    margin: 0;
}

.movies_page__main___info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}
