.wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px
}

.wrap a{
    background: azure;
}

.default{
    display: none;
}

.form-box{
    margin: 20px;
}

select{
    width: 250px;
    height: 40px;
    margin: 40px;
}

.update-form{
    margin: 40px;
    height: 40px;
}